# Git Credentials (keep secure, do not commit production values)
GIT_TOKEN_NAME=my-token-name
GIT_TOKEN=github_pat_11ABCDEF...
GIT_REPO_URL=https://${GIT_TOKEN_NAME}:${GIT_TOKEN}@github.com/my-org/my-repo.git
