GRAFANA_ADMIN_PASSWORD=admin

# ----------------- #
# LOKI SECURE AUTH  #
# ----------------- #
# This is a bcrypt hashed payload used by Caddy to authorize local tenants communicating over the internet.
# This example hash is generated for the plaintext password: super_secret_password
# To generate your own security hash, run: 
# docker compose run --rm caddy caddy hash-password --plaintext YOUR_NEW_PASSWORD
LOKI_AUTH_HASH=$2a$14$uE9uTgXTxn01pTDshNWY4eZQTGWK0dd92PSYqG2dXcT38n4eCVZoS