# Specific Tenant Identity - CHANGE THIS ON EVERY STORE SERVER
TENANT_ID=tenant-001

# Cloud destination - REPLACE WITH YOUR CLOUD IPS OR DOMAIN
CLOUD_LOKI_URL=http://your-cloud-server.com:8080/loki/api/v1/push

# Cloud Security Auth
CLOUD_LOKI_USERNAME=loki_shipper
CLOUD_LOKI_PASSWORD=super_secret_password
